<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<title>{{TITLE}}</title>
		<link rel="stylesheet" href="../dist/reset.css">
		<link rel="stylesheet" href="../dist/reveal.css">
        <link rel="stylesheet" href="../dist/theme/moon.css">
        <link rel="stylesheet" href="../css/theme/logos.css">
        <link rel="stylesheet" href="../css/theme/dot.css">
		<link rel="stylesheet" href="../plugin/highlight/monokai.css">
	</head>
	<body>
		<div class="reveal">
			<div class="slides">
                <section id="cover"
                    data-markdown="cover-{{SLUG}}.md"
                    data-separator="^\n\n\n"
                    data-separator-vertical="^\n\n"
                    data-separator-notes="^Note:"
                    data-charset="iso-8859-15">
                </section>
                <!-- CONTENT-SECTIONS: the `slides` skill inserts one <section> per content markdown file here, in order -->
                <section id="the-end"
                    data-markdown="../docs/the-end.md"
                    data-separator="^\n\n\n"
                    data-separator-vertical="^\n\n"
                    data-separator-notes="^Note:"
                    data-charset="iso-8859-15">
                </section>
			</div>
            <div class="sponsor"><img src="../img/dot-qr.png"></div>
		</div>
		<script src="../dist/reveal.js"></script>
		<script src="../plugin/notes/notes.js"></script>
		<script src="../plugin/markdown/markdown.js"></script>
		<script src="../plugin/highlight/highlight.js"></script>
		<script>
			Reveal.initialize({
				hash: true,
				plugins: [ RevealMarkdown, RevealHighlight, RevealNotes ]
			});
            Reveal.configure({
                keyboard: {
                    39: 'next',
                    37: 'prev',
                }
            });
		</script>
	</body>
</html>
